/* ------------------------------------------------------------------------------ 
	Author: webthemez 
/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Play');

body{
	font-family: 'Play', sans-serif;
}
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #ffffff;
}
h1, .type-wrap{
	font-size: 32px;
	color: #fff;
	margin-top: 60px;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border-bottom:3px solid rgba(255, 255, 255, 0.3);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	letter-spacing:3px;
	line-height:30px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	color: #fff;
	border-bottom:3px solid rgba(229, 46, 46, 1);
}
.btn-large {
	padding: 15px 40px;
}
.logo b {
	color: #ffc107;
	text-transform: uppercase;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
	color: #03a9f4;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
	color: #fff;
}
body {
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.logo {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	letter-spacing:3px;
	text-transform: capitalize;
	padding: 10px 0 0;
}
.banner-area {
	position: relative;
}
.banner-area-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: rgba(0, 13, 29, 0.58);
}
.banner-text {
	padding-top: 6%;
	padding-bottom: 0%;
	text-align: left;
	color: #fff !important;
}
.banner-text h1 {
	margin-top:10%;
	color: #fff;
	font-weight: 100;
	font-size: 28px;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.banner-text p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing:3px;
	margin-bottom: 5%;
	font-family: arial;
}

/* ------------------------------------------------------------------------------
	Countdown
-------------------------------------------------------------------------------*/

#countdown {
	padding:0;
	position:relative;
	margin-top: 6%;
	margin-bottom:5%;
	padding: 10px 0 20px;
}

.item {
	display: inline-block;
	position: relative;
	text-align:center;
	margin:0 10px;
	padding: 5px 0 20px;
	text-transform:uppercase;
	font-size: 16px;
	border-bottom: 1px solid #ffc107;
	color: #fff;
	width: 140px;
	/* background: rgba(0, 0, 0, 0.34); */
	border: 1px #646464 dashed;
	border-bottom: 1px solid #ffc107;
}
.item p {
	text-align:center;
	margin:0;
	font-size: 54px;
	padding:0;
	/* background: rgba(2, 7, 13, 0.28); */
}

#countdown .item:nth-child(1){/* background: rgb(208, 40, 40); */margin: 0;}
#countdown .item:nth-child(2){/* background: rgb(37, 110, 249); */}
#countdown .item:nth-child(3){/* background: rgb(38, 175, 38); */}
#countdown .item:nth-child(4){/* background: rgb(230, 158, 21); */}

/* ------------------------------------------------------------------------------
	Subscribe
-------------------------------------------------------------------------------*/

.subscribe {
	width: 430px;
	position: relative;
	margin:0 auto;
	padding-bottom: 70px;
	float: left;
}
.subscribe >.container {
	padding-top: 80px;
	padding-bottom: 80px;
}
.subscribe h2 {
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	margin: 0;
	line-height:70px;
	text-transform:uppercase;
	text-align: left;
}
.subscribe-form {
	margin-top: 6px;
	text-align:center;
}
.subscribe-form input[type=text] {
	width: 70%;
	height: 46px;
	display: block;
	padding: 0 20px;
	background-color: rgba(54, 57, 78, 0.36);
	border: 1px solid rgba(255, 255, 255, 0.66);
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	line-height: 60px;
	letter-spacing:1px;
	font-size:15px;
	font-weight:300;
	float: left;
	border-right: 0;
}
.subscribe-form input:focus {
	outline: 0;
}
.subscribe-form input[type=submit] {
	width: 30%;
	height: 46px;
	display: block;
	padding: 0 10px;
	background-color: #FFC107;
	border: 1px solid #FFC107;
	color: #00050b;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-weight: 700;
	transition: all 0.125s ease-in-out 0s;
	-moz-transition: all 0.125s ease-in-out 0s;
	-webkit-transition: all 0.125s ease-in-out 0s;
	-o-transition: all 0.125s ease-in-out 0s;
	-ms-transition: all 0.125s ease-in-out 0s;
	float: right;
	cursor: pointer;
}
.subscribe-form input[type=submit]:hover {
	background-color: #daa300;
	border: 1px solid #daa300;
	color: #fff;
}

.error_message {
	color:#fc6e51;
	padding-bottom:15px;
	font-size:13px;
	line-height:30px;
}

#success_page {
	color:#9ce726;
	padding-bottom:10px;
	font-size:12px;
}
#success_page h3 {
	font-size:17px;
	font-weight:400;
	color:#4ab217;
}
#success_page p {
	font-size:12px;
	font-weight:400;
	color:#b3b3b3;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {text-align: center;/* background-color: rgba(24, 24, 24, 0.27); */padding: 50px 0 50px 0;/* background: rgba(255, 255, 255, 0.17); */}


.footer h5 {
	color: #fff;
}
.footer h5 {
	margin-bottom: 20px;
}
.footer p {
	color: #969696;
	font-size:12px;
	line-height:14px;
	text-align: left;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	color: #03a9f4;
}
.footer .footer-share {
	margin: 0 0 10px 0;
	text-align: left;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 17px;
	letter-spacing:20px;
	color: #fff;
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}
/* code for animated blinking cursor */
.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
