main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{ background-image:none}
   .bg-container-youtube{ position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: -1;
   }
.overlay-bg{background-color: rgba(255, 255, 255, 0.6); position:absolute; left:0; width:100%; height:100%; top:0; right:0}
main[role="video-container"]{ position:relative; z-index:6}
